h1 {
  margin-top: 40px;
}

.citySearch {
  right: 80px;
  position: fixed;
  margin-top: 40px;
}
.searchButton {
  color: white;
  background: blueviolet;
}
.row {
  margin-top: 30px;
}
.row .col,
.col-2 {
  color: gray;
}
.row .col {
  margin-top: 40px;
}
.currentTemperature {
  font-size: 250%;
}
.units {
  position: relative;
  top: -30px;
  font-size: 40%;
}
